<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 로그인</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <!-- 시큐리티 로그인 실패 시 로그인 페이지로 리다이렉트 -->
    <!-- 로그인 성공 시 SecurityConfig 에서 설정한 페이지로 이동 -->

    <div th:if="${param.error}">
        <div class="alert alert-danger">
            이메일 또는 비밀번호를 확인해 주세요.
        </div>
    </div>

    <form th:action="@{/member/login}" method="post">

        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" id="email" name="email" placeholder="이메일을 입력하세요" required/>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required/>
        </div>
        <button type="submit">로그인</button>

        <div>
            <a href="/member/findPassword">비밀번호 찾기</a>
        </div>
    </form>
</div>

</body>
</html>