<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
    <h1>회원 가입</h1>
    <!--받는 정보 : 이메일, 비밀번호-->

    <form action="/member/register" method="post">
        <div>
            <input type="email" name="email" placeholder="이메일을 입력하세요" required/>
        </div>
        <div>
            <input type="password" name="password" placeholder="비밀번호를 입력하세요" required/>
        </div>
        <div>
            <input type="password" name="rePassword" placeholder="비밀번호를 다시 입력해주세요" required/>
        </div>
        <div>
            <button type="submit">회원 가입 하기</button>
        </div>
    </form>

</body>
</html>